@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
font-family: Roboto, serif;
margin: 0;
}

.content {
    max-width: 1200px;
    margin: auto;
}

.header-wrapper {
    background: #1F2937;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    width: 150px;
    height: 50px;
    background: white;
    display: block; 
}

.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 0;
    margin: 0;
}

ul a {
    outline: 1px solid red;
    list-style-type: none;
    color: #F9FAF8;
    text-decoration: none;
    font-weight: 700;
    padding: 10px;
    margin: 0;
}