@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
font-family: Roboto, serif;
margin: 0;
box-sizing: border-box;
}

.content {
    max-width: 1200px;
    margin: auto;
}

/* header wrapper */
.header-wrapper, .welcome-wrapper {
    background: #1F2937;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.logo {
    width: 50px;
}

.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 0;
    margin: 0;
}

ul a {
    list-style-type: none;
    color: #F9FAF8;
    text-decoration: none;
    font-weight: 700;
    padding: 10px 20px;
    margin: 0;
}

a:hover {
    background-color: #13171f;
    transition: background-color .3s ease-in-out;
    border-radius: 20px;
    
}

/* welcome wrapper */
.welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 40px 60px;
    flex-wrap: wrap;
}

.welcome-left {
    max-width: 500px;
    color: #E5E7EB;
    font-size: 18px;
}

h1 {
    margin: 0;
    font-size: 49px;
    color:#F9FAF8;
    font-weight: 900;
}

.welcome-left .button {
border: 2px solid #1F2937;
border-radius: 30px;
font-size: 18px;
font-weight: 700;
padding: 10px 20px;
cursor: pointer;
}

.image-placeholder {
    width: 500px;
    height: 250px;
    background-color: #c8c9c7;
    /* flex-shrink: 0; */

}
